<div class = "container">
  <div class = "p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
      <h2 class="text-center my-5 display-2">Formulario</h2>
    <div class = "container bg-body-secondary">
      <div class="mb-3">
        <label for="id" class="form-label">ID:</label>
        <input type="text" class="form-control" id="id" [(ngModel)]="id" required>
      </div>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" required>
      </div>
      <div class="mb-3">
        <label for="precio" class="form-label">Precio:</label>
        <input type="number" class="form-control" id="precio" [(ngModel)]="precio" required>
      </div>
      <div class="mb-3">
        <label for="urlImagen" class="form-label">URL de imagen:</label>
        <input type="text" class="form-control" id="urlImagen" [(ngModel)]="urlImagen" required>
      </div>
    </div>

    <button (click)="guardarDatos()" class="btn btn-primary">Guardar</button>
  </div>
  <div *ngIf="datosIngresados" class = "p-3 text-secondary-emphasis bg-secondary-subtle border border-secondary-subtle rounded-3">
    <h2 class="text-center my-5 display-4">Datos ingresados:</h2>
    <div class = "container bg-body-secondary border">
      <p>ID: {{ datosIngresados.id }}</p>
      <p>Nombre: {{ datosIngresados.nombre }}</p>
      <p>Precio: {{ datosIngresados.precio }}</p>
    </div>
    <div class = "container text-center bg-body-light border">
      <img [src]="datosIngresados.urlImagen" alt="Imagen" width="500" height="500">
    </div>
  </div>
  
</div>

